<header>
    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>

    <div class="container">
        <a href="{{ site.baseurl }}/index.html">Home</a>
        <span>/</span>
        <a href="{{ site.baseurl }}/publications.html">Publications</a>
        <span>/</span>
        <a href="{{ site.baseurl }}/projects.html">Projects</a>
        <span>/</span>
        <a href="https://wpumacay.github.io/research_blog/">Blog</a>
    </div>
</header>
